/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Encabezado */
header {
    background-color: black;
    color: white;
    padding: 20px;
}

/* Título */
h1 {
    font-size: 2em;
}

/* Pie de página */
footer {
    background-color: black;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Selector de idioma */
main {
    margin-top: 50px;
}

label, select {
    font-size: 1.2em;
}
